<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ item.item }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
    <style media="screen">
      nav{
        margin-bottom: 45px;
      }
      a {
        margin: 10px 15px;
      }
      a#home{
        margin-left: 800px;
      }
      h2, h5 {
        margin-bottom: 50px;
      }
      p{
        margin-bottom: 10px;
      }
    </style>
  </head>
  <nav>
    <a class = "button" id="home" href="{% url 'wishList:dashboard' %}">Home</a>
    <a class = "button button-primary" href="{% url 'wishList:logout' %}">Logout</a>
  </nav>
  <body>

    <h2>{{ item.item }}</h2>
    <h5>Users who added this product/item under their wish list:</h5>
    {% for user in users %}
    <p>{{ user.first_name }}</p>
    {% endfor %}
  </body>
</html>
